/venv/
/Generative AI Foundations /Capstone Projects/Project 2 Medical Assistant/vector_db/
job_hunt_buddy/notebooks/vectorDB/
/Users/jonathan/Library/Mobile Documents/com~apple~CloudDocs/Documents/PycharmProjects/Machine_Learning_Projects/job_hunt_buddy/Config.json
